body {
    padding: 0px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  }
  
  a {
    color: white;
    text-decoration: none;
  } 
  .about-title{
    padding: 25px ;
    background-color: #006892;
    color: white;
  }
  .icon{
    height: 25px;
    width: 25px;
  }