<section class="section-0">
    <div class="home-title">
        <div class="title-1">
            <h2> LATEST TECHNOLOGY</h2>
        </div>
        <div class="title-2">
            <h4>HIGH END SUPER TECHNOLOGY</h4>
        </div>
        <div style="margin-top: 20px;" class="sub-title">
            <span >Project has been developed over the high end latest</span>
        </div>
        <div class="sub-title">
            <span >technologyand works on secure enviornment</span>
        </div>
        <div class="learn-more">
            <a style="text-decoration: none;" href="#">Learn more >></a>
        </div>
    </div>
    <div>
        <img class="images2" src="/assets/images/img4.jpg" alt="">
    </div>
</section>
<section class="section-1">
    <div class="part-1">
        
        <h6><img class="icon" src="/assets/images/planet-sharp.svg" alt=""> Employee Management</h6>
        <br>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. At dolores voluptate mollitia nihil distinctio enim
            nemo facilis dignissimos doloribus pariatur, eligendi sequi dolorum expedita quam repellat minus accusamus
            est reiciendis!</p>
        <a href="#" style="color:#006892;">Learn more</a>
    </div>
    <div class="part-1">
        <h6> <img class="icon" src="/assets/images/chatbubbles-sharp.svg" alt=""> Payroll Management</h6>
        <br>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. At dolores voluptate mollitia nihil distinctio enim
            nemo facilis dignissimos doloribus pariatur, eligendi sequi dolorum expedita quam repellat minus accusamus
            est reiciendis!</p>
        <a href="#" style="color:#006892;">Learn more</a>
    </div>
    <div class="part-1">
        <h6> <img class="icon" src="/assets/images/paper-plane-sharp.svg" alt=""> Attendence Management</h6>
        <br>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. At dolores voluptate mollitia nihil distinctio enim
            nemo facilis dignissimos doloribus pariatur, eligendi sequi dolorum expedita quam repellat minus accusamus
            est reiciendis!</p>
        <a href="#" style="color:#006892;">Learn more</a>
    </div>
    <div class="part-1">
        <h6> <img class="icon" src="/assets/images/settings-sharp.svg" alt=""> With Latest Technology</h6>
        <br>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. At dolores voluptate mollitia nihil distinctio enim
            nemo facilis dignissimos doloribus pariatur, eligendi sequi dolorum expedita quam repellat minus accusamus
            est reiciendis!</p>
        <a href="#" style="color:#006892;">Learn more</a>
    </div>
</section>

<h4 style="padding-left: 50px;">Features of This Site</h4>

<section class="section-2">
    <div class="part-1">
        <img class="images" src="/assets/images/img1.jpg" alt="img1">
        <h6> Employee Management</h6>
        <br>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. At dolores voluptate mollitia nihil distinctio enim
            nemo facilis dignissimos doloribus pariatur, eligendi sequi dolorum expedita quam repellat minus accusamus
            est reiciendis!</p>
        <a href="#" style="color:#006892;">Learn more</a>
    </div>
    <div class="part-1">
        <img class="images" src="/assets/images/img2.jpeg" alt="img1">
        <h6> Payroll Management</h6>
        <br>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. At dolores voluptate mollitia nihil distinctio enim
            nemo facilis dignissimos doloribus pariatur, eligendi sequi dolorum expedita quam repellat minus accusamus
            est reiciendis!</p>
        <a href="#" style="color:#006892;">Learn more</a>
    </div>
    <div class="part-1">
        <img class="images" src="/assets/images/img3.webp" alt="img3">
        <h6> Attendence Management</h6>
        <br>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. At dolores voluptate mollitia nihil distinctio enim
            nemo facilis dignissimos doloribus pariatur, eligendi sequi dolorum expedita quam repellat minus accusamus
            est reiciendis!</p>
        <a href="#" style="color:#006892;">Learn more</a>
    </div>
    <div class="part-1">
        <img class="images" src="/assets/images/img4.jpg" alt="img4">
        <br>
        <h6>With Latest Technology</h6>
        <br>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. At dolores voluptate mollitia nihil distinctio enim
            nemo facilis dignissimos doloribus pariatur, eligendi sequi dolorum expedita quam repellat minus accusamus
            est reiciendis!</p>
        <a href="#" style="color:#006892;">Learn more</a>
    </div>
</section>